<div>
  <button mat-button color="primary" (click)="notificationHandler.notify({message: 'I am a message', kind: notificationStyle.info})">Inform me</button>
  <button mat-button color="primary" (click)="notificationHandler.notify({message: 'I am a message', kind: notificationStyle.warn})">Warn me</button>
  <button mat-button color="primary" (click)="notificationHandler.notify({message: 'I am a message', kind: notificationStyle.error})">Alert me</button>
  <button mat-button color="primary" (click)="notificationHandler.notify({message: 'I am a message', kind: notificationStyle.success})">Success me</button>

</div>
